#!/usr/bin/python{{ '2' if (ansible_python_version is version_compare('3.5', '<')) else '3' }}

# {{ ansible_managed }}

from __future__ import print_function
from json import loads, dumps

output = loads('''{{ ({
    "configured": true,
    "version": gluster_org__version
}) | to_nice_json }}''')

print(dumps(output, sort_keys=True, indent=2))
